In [5]:
import pandas as pd

In [6]:
pd.read_csv("olin.csv")

              Read Date    kWh     kW
0      11/14/2019 10:15   6.00  24.00
1      11/14/2019 10:30   8.58  34.32
2      11/14/2019 10:45  10.80  43.20
3      11/14/2019 11:00   8.40  33.60
4      11/14/2019 11:15   8.80  35.20
...                 ...    ...    ...
50542   4/25/2021 23:45  21.40  85.60
50543    4/26/2021 0:00  22.00  88.00
50544    4/26/2021 0:15  21.60  86.40
50545    4/26/2021 0:30  21.40  85.60
50546    4/26/2021 0:45  21.80  87.20

[50547 rows x 3 columns]

In [7]:
pd.read_csv("OldCentre.csv")

                   Read Date     kWh       kW
0       1/1/2020 12:00:00 AM  0.0450   0.1800
1       1/1/2020 12:15:00 AM  0.0410   0.1640
2       1/1/2020 12:30:00 AM  0.0440   0.1760
3       1/1/2020 12:45:00 AM  0.0410   0.1640
4        1/1/2020 1:00:00 AM  0.0429   0.1716
...                      ...     ...      ...
45940  4/25/2021 11:45:00 PM  8.0000  32.0000
45941  4/26/2021 12:00:00 AM  7.2000  28.8000
45942  4/26/2021 12:15:00 AM  8.4000  33.6000
45943  4/26/2021 12:30:00 AM  8.4000  33.6000
45944  4/26/2021 12:45:00 AM  9.4000  37.6000

[45945 rows x 3 columns]