In [1]:
import pandas as pd

In [2]:
pd.read_csv("olin.csv")

              Read Date    kWh     kW
0      11/14/2019 10:15   6.00  24.00
1      11/14/2019 10:30   8.58  34.32
2      11/14/2019 10:45  10.80  43.20
3      11/14/2019 11:00   8.40  33.60
4      11/14/2019 11:15   8.80  35.20
...                 ...    ...    ...
50542   4/25/2021 23:45  21.40  85.60
50543    4/26/2021 0:00  22.00  88.00
50544    4/26/2021 0:15  21.60  86.40
50545    4/26/2021 0:30  21.40  85.60
50546    4/26/2021 0:45  21.80  87.20

[50547 rows x 3 columns]